{% extends "usuario/layout_base.html.twig" %}
{% set titulo = 'Grupos de Preparación de Oposiciones' %}

{% block contenido %}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Administración del Estado</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">10 plazas</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Madrid / Sevilla / Barcelona</li>
                    <li>4 grupos</li>
                    <li>80 plazas</li>
                    <li>Enero-Abril 2019</li>
                </ul>
                <a href="#" class="btn btn-lg btn-block btn-primary">Inscríbete</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Auxiliar administrativo del Estado</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">0 plazas</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Madrid / Barcelona / Sevilla</li>
                    <li>50 grupos</li>
                    <li>1000 plazas</li>
                    <li>Enero - Septiembre 2018</li>
                </ul>
                <a href="#" class="btn btn-lg btn-block btn-primary">Lista de Espera</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Auxiliar administrativo Universidad de Sevilla</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">50 plazas</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Sevilla</li>
                    <li>8 grupos</li>
                    <li>120 plazas</li>
                    <li>A partir de Enero 2019</li>
                </ul>
                <a href="" class="btn btn-lg btn-block btn-primary">Inscríbete</a>
            </div>
        </div>
    </div>
{% endblock %}
