.cover-container {
    max-width: 45em;
}

.nav {
    margin-bottom: 2em;
}

.nav-masthead .nav-link {
    padding: .25rem .5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .2);
}

.nav-masthead .active {
    padding: .25rem .5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
    border-bottom-color: transparent;
}

footer p {
    color: rgba(255, 255, 255, .2);
}

.referencia {
    text-align: right;
    font-size: small;
}

.referencia a {
    color:#999;
    text-decoration: none;
}
