{% extends "layout.html.twig" %}

{% block contenido %}
    <h2>Sistema de reservas</h2>

    <p>Te invito a crear tu propio framework, si, si, ya se que no hay que reinventar la rueda que existen framework a
        patadas y todo eso. Pero, por experiencia propia, creo que la mejor manera de entender y por tanto usar
        correctamente un framework es haciendo uno propio. Además tu trabajo te puede servir para hacer algún pequeño
        proyecto o página web que no tenga muchos requisitos.</p>

    <p>A lo largo del tutorial te voy a proponer mi propio esquema, pero si algo te gusta más de otra manera eres libre
        de hacerlo, incluso si cambias algunas cosas, y ves que algo falla eso también va a ser una oportunidad de
        aprendizaje. Así que te doy un guión pero te invito a saltártelo cuando quieras, si no te sientes muy seguro,
        hazlo una primera vez al pie de la letra y luego lo haces improvisando, intentando seguir los pasos de memoria,
        cambiando los nombres de variables o carpetas por otros que te gusten más, etc.</p>

    <p>Si ya has hecho el <a href="http://galatar.com/">tutorial de composer</a>, algo que te recomiendo, puedes utilizar el mismo proyecto que creaste
        allí, también puedes crear un nuevo proyecto desde cero, ¡es tan fácil ahora que sabes utilizar composer!</p>
{% endblock %}
