{% extends 'gestor/layout_dashboard.html.twig' %}
{% set titulo = 'Crear Inscripción' %}
{% block contenido %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ titulo }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{{ path('gestor_persona_crear') }}" class="btn btn-sm btn-primary"><span
                        data-feather="plus-circle"></span> Crear usuario</a>
            <a href="{{ path('gestor_curso_mostrar', {'id': curso.id}) }}" class="btn btn-sm btn-danger"><span
                        data-feather="arrow-left-circle"></span> Volver al Curso</a>
        </div>
    </div>
</div>
<div class="table-responsive">
</div>